{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Aprendiendo a Editar</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quasi nobis nesciunt reiciendis possimus placeat commodi unde accusantium repellat! Sequi laborum animi aperiam libero magni magnam alias! Officia, necessitatibus harum!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/TPL-1.gif" alt="img-thumbnail">
    </div>
</div>

    
{{> footer }}